.page {
  animation: fadeIn 0.3s ease;
}

.itemTitleCell {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.itemTitle {
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  font-size: var(--font-size-md);
}

.itemSubtext {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
